__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.vscode/
.idea/
dataset/
checkpoints/
test_results/
*.pth
*.pt
*.npy
*.npz
*.csv
*.arrow
*.h5
*.pkl
*.ckpt
*.log
logs/
results_ours_adjust_best_f1/
results_ours_adjust_f-score/
results_ours_best_f1/

